<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Multistep Form</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/jquery-ui.css" rel="stylesheet" type="text/css">	
	<script src="js/jquery.js" ></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/masking.js" ></script>
	<script src="js/script.js" ></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
	<script src="js/app.js" ></script>
	<script>
		$(function() {
			$( "#cohabiting_date" ).datepicker({
				showOn: "button",
				buttonImage: "images/datepick.png",		
				dateFormat: 'dd/mm/yy',
				changeMonth: true,
				changeYear: true,
				
			});
		});
		
		jQuery(function($){
		   $("#man_pin").mask("999999999999");
		   $("#women_pin").mask("9999999999999");
		   $("#man_phone").mask("999999999999999");
		   $("#women_phone").mask("9999999999999999");
		   $("#man_identity").mask("9999999999999999");
		   $("#women_identity").mask("9999999999999999");
		   $("#cohabiting_date").mask("99/99/9999");
		});

	</script>

</head>

<body ng-app="myApp" ng-controller="MainCtrl" >
    <div id="infoCont" class="infoCont">
		<div class="infoHeader"><a id="closeInfoCont"><img src="images/close_button.png"></a> </div>
		<div class="infoContent">
			Det Första alternativet innebär att vid en bodelning endast saker som är inköpta för gemensamt bruk delas på, era egna saker åsidosätts bodelningen.<br/><br/>
			Det Andra alternativet innebär att ni partiellt avtalar bort sambolagens bodelningsregler genom att uppräkna viss gemensam egendom som skall hållas utanför en framtida bodelning
		</div>
	</div>
	
    <div id="infoCont1" class="infoCont">
		<div class="infoHeader"><a id="closeInfoCont1"><img src="images/close_button.png"></a> </div>
		<div class="infoContent">
			Lämna ett meddelande till oss. 
		</div>
	</div>	

	<div id="infoCont2" class="infoCont">
		<div class="infoHeader"><a id="closeInfoCont2"><img src="images/close_button.png"></a> </div>
		<div class="infoContent">
			Sambos är två personer som stadigvarande bor tillsammans i ett parförhållande och har gemensamt hushåll(1§ sambolagen)
		</div>
	</div>	

	<div id="infoCont3" class="infoCont">
		<div class="infoHeader"><a id="closeInfoCont3"><img src="images/close_button.png"></a> </div>
		<div class="infoContent">
			Stjärnelunds Juristhus är inte ansvarig för ekonomisk skada indirekt eller direkt, som kan uppstå genom att användandet av denna tjänst, genom att tjänst ej kan nyttjas eller på grund av fel eller brister i den information som ges. Ansvaret gentemot brukaren av våra tjänster kan aldrig bli större än den avgift som erlagts för tjänstens nyttjande.
		</div>
	</div>	
		<form name="frmReg" action="" method="post">
		<!-- SLICE 1  -->
		<div class="container01" id="slice_0">
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Beställning av Testamente</h1>
						<div class="filter001">
							
							<div class="fliter_step001 step"><h2>1</h2><div class="popup_top" ><p>Personuppgifter</p></div></div><!-- fliter_step001 -->
							
							<div class="fliter_step002 step"><h2>2</h2><div class="popup_top"><p>OMFATTING AV AKTENSKAPSFORORDET</p></div></div>
							
							<div class="fliter_step003 step"><h2>3</h2><div class="popup_top"><p>Översikt</p></div></div>
							
							<div class="fliter_step004 step"><h2>4</h2><div class="popup_top"><p>Meddelande</p></div></div>
							
							<div class="fliter_step005 step"><h2>5</h2><div class="popup_top"><p>Meddelande</p></div></div>

							<div class="fliter_step006 step"><h2>End</h2></div>
							
							
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">
                  		
                  		<p>Här börjar din beställning av ett personligt utformat testamente. </p>

						<p>Eftersom de uppgifter som genom formuläret tillhandahålles oss ligger till grund för utformandet av det personliga testamentet är det av stor vikt att dessa är korrekta. Vi ber dig därför att noga kontrollera de ifyllda uppgifterna innan du slutför beställningen. Vid tveksamheter vid behandlingen av uppgifterna kommer vi naturligtvis kontakta er för ett klargörande innan testamentet slutligen färdigställs. Dessutom har ni alltid rätt att återkomma till oss för ändringar inom en 14 dagars period. </p>

						<p>Alla uppgifter behandlas i enlighet med personuppgiftslagen konfidentiellt och kommer därför inte att röjas eller utelämnas till tredje part.</p>
					</div><!-- form001 -->
				</div><!-- wrapper -->
			</div><!-- form01 -->
			
			<div class="bottom">
				<div class="bottom1">
					<a id="next_0" class="btn_register next">Starta</a>
			    </div>
			</div><!-- bottom -->		
			
		</div><!-- container01 -->
		<!-- SLICE 1  -->
				
		<!-- SLICE 2  -->
		<div class="container01" style="display:none;" id="slice_1">
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Enkelt testamente</h1>
						<div class="filter002">
							
							<div class="fliter1_step001"><a class="parallelNav" id="sl_1_Navigate_1" ><h2>1</h2><div class="popup_top" style="display:block;"><p>Personuppgifter</p></div></a></div>
							<div class="fliter1_step002"><a class="parallelNav" id="sl_1_Navigate_2" ><h2>2</h2><div class="popup_top" ><p>Samboregler</p></div></a></div>
							<div class="fliter_step003"><a class="parallelNav" id="sl_1_Navigate_3" ><h2>3</h2><div class="popup_top"><p>Översikt</p></div></a></div>
							<div class="fliter_step004"><a class="parallelNav" id="sl_1_Navigate_4" ><h2>4</h2><div class="popup_top" ><p>Meddelande</p></div></a></div>
							<div class="fliter_step005"><a class="parallelNav" id="sl_1_Navigate_5" ><h2>5</h2></a></div>
							<div class="fliter_step006"><a class="parallelNav" id="sl_1_Navigate_6" ><h2>End</h2></a></div>
							
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">
						<div class="mans_info">
							<div class="man_info">
								<input type="text" name="name" id="man_name" placeholder="Ange Fullständigt Namn"  class="register user" ng-model="man_name"> 
								<p class="error_msg" id="error_man_name" ></p>
							</div>
							
							<div class="man_info">
								<input type="text" name="address" id="man_address" placeholder="Ange din Adress"  class="register address" ng-model="man_address" > 
								<p class="error_msg" id="error_man_address"></p>
							</div>
							
							<div class="man_info">
								<input type="text" name="pin" id="man_pin" placeholder="Ange ditt Postnummer"  class="register pincode" ng-model="man_pin"> 
								<p class="error_msg" id="error_man_pin"></p>
							</div>
							
							<div class="man_info">
								<input type="text" name="postort" id="man_postort" placeholder="Ange din Postort"  class="register post" ng-model="man_postort"> 
								<p class="error_msg" id="error_man_postort"></p>
							</div>
							
							<div class="man_info">
								<input type="text" name="phone" id="man_phone" placeholder="Ange ditt telefonnummer"  class="register phone" ng-model="man_phone"> 
								<p class="error_msg" id="error_man_phone"></p>
							</div>
							
							<div class="man_info">
								<input type="text" name="email" id="man_email" placeholder="Ange din e-postadress"  class="register email" ng-model="man_email" > 
								<p class="error_msg" id="error_man_email"></p>
							</div>
							
							<div class="man_info">
								<input type="text" name="identity" id="man_identity" placeholder="Ange ditt personnummer (XXXXXXxxxx)"  class="register uid" ng-model="man_identity"> 							
								<p class="error_msg" id="error_man_identity"></p>
							</div>
						
						</div><!-- mans_info -->				
						
					</div><!-- form001 -->
				</div><!-- wrapper -->
			</div><!-- form01 -->
			
			<div class="bottom">
				<div class="bottom1">
					<a class="btn_register2 prev" id="prev_1" >Tillbaka</a>
					<a class="btn_register1 next" id="next_1" >Nästa</a>
				</div>
			</div><!-- bottom -->		
			
		</div><!-- container01 -->
		<!-- SLICE 2 -->		
		<!-- SLICE 3 -->		
		<div class="container01" style="display:none;" id="slice_2">
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Kvarlåtenskap</h1>
						<div class="filter003">
							
							<div class="fliter2_step001"><a class="navCircle" id="sl2Navigate_1" style="cursor:pointer;"><h2>1</h2><div class="popup_top" ><p>Personuppgifter</p></div></a></div>
							<div class="fliter1_step002"><a class="parallelNav" id="sl_2_Navigate_2" ><h2>2</h2><div class="popup_top" style="display:block;"><p>Samboregler</p></div></a></div>
							<div class="fliter_step003"><a class="parallelNav" id="sl_2_Navigate_3" ><h2>3</h2><div class="popup_top"><p>Översikt</p></div><a></div>
							<div class="fliter_step004"><a class="parallelNav" id="sl_2_Navigate_4" ><h2>4</h2><div class="popup_top" ><p>Meddelande</p></div></a></div>
							<div class="fliter_step005"><a class="parallelNav" id="sl_2_Navigate_5" ><h2>5</h2></a></div>
							<div class="fliter_step006"><a class="parallelNav" id="sl_2_Navigate_6" ><h2>End</h2></a></div>
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">

						<div class="distribute-options" >
							<!---
								1 -> all
								2 -> piece
								3 -> both options above
							-->
							<div class="q-asw q-asw-1">
								<div class="question">
									<p>Önskar du fördela all din egendom till en person, eller fond/stiftelse?</p>
									<div class="radio_option">
										<input type="radio" name="distribute" id="distribute_1" class="css-checkbox prop_answers" checked="checked" value="1" ng-mode="distribute"/>
											<label for="distribute_1" class="css-label radGroup1"></label>
									</div>
								</div>
								<div class="asw">
									<div class="condition_box">
										<div class="condition_box02">
										<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
										</div>
										<p>All din egendom (kvarlåtenskap) fördelas mellan testamentstagarna. </p>
										<p>
											Genom detta val kommer du inte ges tillfälle att fördela specifik egendom till en eller flera personer eller fond/stiftelser. Du som önskar fördela även specifik egendom bör välja något av de andra alternativen.
										</p>
									</div>
								</div>
							</div>

							<div class="q-asw q-asw-2">
								<div class="question">
									<p>Önskar du fördela din egendom del för del till flera personer, eller fond/stiftelser?</p>
									<div class="radio_option">
										<input type="radio" name="distribute" id="distribute_2" class="css-checkbox prop_answers" value="2" ng-mode="distribute"/>
											<label for="distribute_2" class="css-label radGroup1"></label>
									</div>
								</div>
								<div class="asw">
									<div class="condition_box">
										<div class="condition_box02">
										<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
										</div>
										<p>
											Din egendom (kvarlåtenskap) fördelas till testamentstagarna egendom för egendom. Du bestämmer med andra ord vilken egendom som skall testamenteras till vem. T.ex. Den gröna soffan skall gå till Lisa, pengarna på Nordeakontot skall gå till Sven och min skivsamling till Erika.
										</p>
										<p>
											Detta alternativ kräver att du som testator (=du som skriver testamentet) har full koll på all din egendom. Om du missar att nämna någon egendom kommer denna inte ingå i testamentet. 
										</p>
										<p>Vi rekommenderar dig att välja det tredje alternativet vid osäkerhet.</p>
									</div>
								</div>
							</div>

							<div class="q-asw q-asw-3">
								<div class="question">
									<p>Önskar du fördela din egendom enligt båda metoderna ovan (kombination)?</p>
									<div class="radio_option">
										<input type="radio" name="distribute" id="distribute_3" class="css-checkbox prop_answers"  value="3" ng-mode="distribute"/>
											<label for="distribute_3" class="css-label radGroup1"></label>
									</div>

									</div>
								<div class="asw">
									<div class="condition_box">
										<div class="condition_box02">
											<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
										</div>
										<p>
											Enligt detta alternativ kommer din huvudsakliga egendom (kvarlåtenskap) att fördelas på den eller de personer, eller fond/stiftelser som du själv väljer. 
										</p><p>
											Övrig kvarlåtenskap fördelas enligt dina övriga instruktioner. T.ex. All din egendom fördelas jämnt mellan Lisa, Sven och Johan med undantag av den gröna soffan som Lisa skall få och min skivsamling som Erika skall få.
										</p>
									</div>
								</div>
							</div>

							<div class="q-asw q-asw-4 note" style="display: none;">
								<div class="question">
									<p>Observera!</p>
								</div>
								<div class="asw">
									<div class="condition_box">
										<div class="condition_box02">
											<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
										</div>
										<p>
											Du som valde det tredje alternativet ovan – kombinationsalternativet - kommer nu få svara på frågor om dels den generella fördelningen av din egendom, dels om den specifika fördelningen av din egendom. Vill du att en och samma person både skall ha rätt till både generell fördelning och specifik fördelning måste du uppge dennes uppgifter vid både generell samt specifik fördelning. 
										</p>
									</div>
								</div>
							</div>
						</div>	
					</div><!-- form001 -->
				</div><!-- wrapper -->
			</div><!-- form01 -->
			
			<div class="bottom">
				<div class="bottom1">
					<a class="btn_register2 prev" id="prev_2" >Tillbaka</a>
					<a class="btn_register1 next" id="next_2">Nästa</a>
				</div>
			</div><!-- bottom -->		
			
		</div><!-- container01 -->

		<!-- SLICE 4  -->		
		<div class="container01"  id="slice_3" style="display: none;">
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Generell fördelning</h1>
						<div class="filter004">
							
							<div class="fliter2_step001"><a class="navCircle" id="sl3Navigate_1" style="cursor:pointer;"><h2>1</h2><div class="popup_top" ><p>Personuppgifter</p></div></a></div>
							<div class="fliter3_step002"><a class="navCircle" id="sl3Navigate_2" style="cursor:pointer;"><h2>2</h2><div class="popup_top" ><p>Samboregler</p></div></a></div>
							<div class="fliter_step003"><a class="parallelNav" id="sl_3_Navigate_3" ><h2>3</h2><div class="popup_top" style="display:block;"><p>Översikt</p></div></a></div>
							<div class="fliter_step004"><a class="parallelNav" id="sl_3_Navigate_4" ><h2>4</h2><div class="popup_top" ><p>Meddelande</p></div></a></div>
							<div class="fliter_step005"><a class="parallelNav" id="sl_3_Navigate_5" ><h2>5</h2></a></div>
							<div class="fliter_step006"><a class="parallelNav" id="sl_3_Navigate_6" ><h2>End</h2></a></div>
							
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">
						<p>Testamentstagare</p>
						<div class="info_gotten">
							<div class="container" id="container_1">
								<div class="choose_box">
									<p class="order">Testamentstagare <span>1</span> är en: </p>
									<p>
										<select name="type_gotten_1" ng-init="type_gotten = 1" ng-change="changeGotten(1, {{type_gotten}})" ng-model="type_gotten" disable="disable">
											<option value='1'>Person</option>
											<option value='2'>Fond/Stiftelse</option>
										</select>
									</p>
								</div>
								<div class="person">
									<div class="person_info1">
										<div class="person_info">
											<input type="text" name="person[general][1][person_first_name]" id="person_first_name_1" placeholder="Förnamn"  class="register user" ng-model="person_first_name_1" > 
											<p class="error_msg" id="error_person_first_name_1" ></p>
										</div>
										
										<div class="person_info">	
											<input type="text" name="person[general][1][person_last_name]" id="person_last_name_1" placeholder="Efternamn"  class="register address" ng-model="person_last_name_1" > 
											<p class="error_msg" id="error_person_last_name_1"></p>
										</div>

										<div class="person_info">	
											<input type="text" name="person[general][1][person_civic]" id="person_civic_1" placeholder="Personnummer"  class="register address" ng-model="person_civic_1" > 
											<p class="error_msg" id="error_person_civic_1"></p>
										</div>

									</div><!-- person_info1 -->

									<div class="q-asw">
										
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Jag önskar att allt som tillfaller någon genom detta testamente eller arv skall vara dennes enskilda egendom 
												</p>
												<p>
													Att egendom betraktas som enskild innebär i juridisk mening att make/maka till testamentstagaren inte har rätt till värdemässig hälftendelning av den enskilda egendomen vid en eventuell bodelning, till följd av separation (utifall den du testamenterar till är gift). Med andra ord innebär detta alternativet att personen du testamenterar din egendom till och som är gift kommer att få behålla egendom ifall personen i framtiden skiljer sig. Annars gäller att all makarnas respektive egendom är så kallat giftorättsgods och skall värdemässigt delas på hälften vid en skilsmässa. 
												</p>
											</div>
										</div>
										<div class="question">
											<div class="checkboxThree">
												<input type="checkbox" value="1" id="person_aws_1_1" name="person[general][1][person_aws_1]" checked="" ng-model="person_aws_1_1" class="ng-pristine ng-valid" ng-change="jumpQA(1)">
												<label for="person_aws_1_1"></label>
											</div>
										</div>

									</div>
									<div class="q-asw" style="display: none;">
										
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Jag önskar att även det som tillkommer i egendomens ställe skall vara enskild egendom
												</p>
												<p>
													T.ex. Peter har ärvt en tavla som enskild egendom från sina morföräldrar med följdkravet att vad som träder i tavlans ställe även fortsatt skall vara Peters enskilda egendom. Om Peter säljer tavlan för att köpa en bil kommer därför även bilen att betraktas som Peters enskilda egendom.  
												</p>
											</div>
										</div>
										<div class="question">
											<div class="checkboxThree">
												<input type="checkbox" value="1" id="person_aws_2_1" name="person[general][1][person_aws_2]" checked="checked" ng-model="person_aws_2_1" class="ng-pristine ng-valid" disabled="disabled">
												<label for="person_aws_2_1"></label>
											</div>
										</div>
									</div>

									<div class="q-asw" style="display: none;">
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Jag önskar att avkastning av egendomen skall vara enskild egendom. 
												</p>
												<p>
													T.ex. Avkastning på aktier.
												</p>
											</div>
										</div>

										<div class="question">
											<div class="checkboxThree">
												<input type="checkbox" value="1" id="person_aws_3_1" name="person[general][1][person_aws_3]" checked="checked" ng-model="person_aws_3_1" class="ng-pristine ng-valid" disabled="disabled">
												<label for="person_aws_3_1"></label>
											</div>
										</div>

									</div>
								</div><!-- person -->
								<div class="fond">
									<div class="fond_info1">
										<div class="fond_info">
											<input type="text" name="fond[general][1][fond_name]" id="fond_name_1" placeholder="namn"  class="register user" ng-model="fond_name_1" disabled="disabled" > 
											<p class="error_msg" id="error_fond_name_1" ></p>
										</div>
										
										<div class="fond_info">	
											<input type="text" name="fond[general][1][fond_account]" id="fond_account_1" placeholder="konto"  class="register address" ng-model="fond_account_1" disabled="disabled"> 
											<p class="error_msg" id="error_fond_account_1"></p>
										</div>

									</div><!-- fond_info1 -->

									<div class="q-asw">
										<div class="question">
											<div class="purpose">
												<label>Ändamål:</label>
												<textarea value="1" id="purpose_1" name="fond[general][1][purpose]" checked="checked" ng-model="purpose_1" class="ng-pristine ng-valid" placeholder="Skriv här om medlen skall användas till något särskilt ändamål inom fonden/stiftelsen." > </textarea>
												<label for="purpose_1"></label>
											</div>
										</div>
									</div>

								</div>	
								
							</div>
						</div>

					</div><!-- form001 -->	
					<div class="percent" style="display: none;">
						<div class="condition_box">
							<div class="condition_box02">
								<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Fördelning vid flera testamentestagare</span></a>
							</div>
							<p>
								Vid val av flera testamentestagare skall egendomen fördelas: 
							</p>
							<p>
								Lika fördelning mellan testamentstagarna innebär att egendomen fördelas jämnt mellan dem. Fördelning enligt procentsats innebär att testamentstagarna erhåller kvarlåtenskapen enligt en angiven procentsats. T.ex. Jan Svensson 30%, Moa Svensson 30%, Cancerfonden 40%. Var uppmärksam på att vid procentangivning tilldela totalt 100%. 

							</p>
							<ul>
								<li>• dem lika emellan </li>
								<li>
									• dem lika emellan
									<ul class="list_people">
									</ul> 
								</li>
							</ul>
						</div>
					</div>
					<div class="action-new-people">
						<p>Do you want to add new person/fond? </p>
						<button removepeople ng-hide="isRemove" class="btn-remove" style="display:none;">Remove</button>
						<button class="btn-adds" addpeople>Add</button>
					</div>
				</div><!-- wrapper -->
			</div><!-- form01 -->
			<div class="bottom">
				<div class="bottom1">
					<a class="btn_register2 prev" id="prev_3" >Tillbaka</a>
					<a class="btn_register1 next" id="next_3" >Nästa</a>
				</div>
			</div><!-- bottom -->
		</div>

		<!-- SLICE 5  -->
		<div class="container01" style="display:none;" id="slice_4">
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Specifik Fördelning</h1>
						<div class="filter004">
							
							<div class="fliter2_step001"><a class="navCircle" id="sl3Navigate_1" style="cursor:pointer;"><h2>1</h2><div class="popup_top" ><p>Personuppgifter</p></div></a></div>
							<div class="fliter3_step002"><a class="navCircle" id="sl3Navigate_2" style="cursor:pointer;"><h2>2</h2><div class="popup_top" ><p>Samboregler</p></div></a></div>
							<div class="fliter_step003"><a class="parallelNav" id="sl_3_Navigate_3" ><h2>3</h2><div class="popup_top" style="display:block;"><p>Översikt</p></div></a></div>
							<div class="fliter_step004"><a class="parallelNav" id="sl_3_Navigate_4" ><h2>4</h2><div class="popup_top" ><p>Meddelande</p></div></a></div>
							<div class="fliter_step005"><a class="parallelNav" id="sl_3_Navigate_5" ><h2>5</h2></a></div>
							<div class="fliter_step006"><a class="parallelNav" id="sl_3_Navigate_6" ><h2>End</h2></a></div>
							
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">
						<p>Testamentstagare</p>
						<div class="info_gotten_specific">
							<div class="container" id="container_1">
								<div class="choose_box">
									<p class="order">Testamentstagare <span>1</span> är en: </p>
									<p>
										<select name="type_gotten_specific_1" ng-init="type_gotten_specific = 1" ng-change="changeGottenSpecific(1, {{type_gotten_specific}})" ng-model="type_gotten_specific" disable="disable">
											<option value='1'>Person</option>
											<option value='2'>Fond/Stiftelse</option>
										</select>
									</p>
								</div>
								<div class="person">
									<div class="person_info1">
										<div class="person_info">
											<input type="text" name="person[specific][1][person_first_name]" id="person_first_name_specific_1" placeholder="Förnamn"  class="register user" ng-model="person_first_name_specific_1"> 
											<p class="error_msg" id="error_person_first_name_specific_1"></p>
										</div>
										
										<div class="person_info">	
											<input type="text" name="person[specific][1][person_last_name]" id="person_last_name_specific_1" placeholder="Efternamn"  class="register address" ng-model="person_last_name_specific_1" > 
											<p class="error_msg" id="error_person_last_name_specific_1"></p>
										</div>

										<div class="person_info">	
											<input type="text" name="person[specific][1][person_civic]" id="person_civic_specific_1" placeholder="Personnummer"  class="register address" ng-model="person_civic_specific_1" > 
											<p class="error_msg" id="error_person_civic_specific_1"></p>
										</div>

									</div><!-- person_info1 -->

									<div class="q-asw">
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"></a>
												</div>
												<p>
												 	Försök att fylla i så uppdaterad och tillförlitlig information som möjligt för att undvika framtida missförstånd eller funderingar. Glöm inte att vid egendomsbeskrivningen tillsätta det antal egendomen avser. 
												</p>
												<p>
													T.ex. Min gröna soffa. Pengarna på mitt Nordea konto, kontonummer: XXXXX. Ericsson aktier, aktieslag B, antal 1000.
												</p>
													
											</div>
										</div>

										<div class="question">
											<div class="property_description">
												<p>Ejendoms Beskrivning : </p>
												<textarea id="person_property_description_1" name="person[specific][1][person_property_description]" ng-model="person_property_description_1" class="ng-pristine ng-valid"></textarea>
												<label for="error_person_property_description_1"></label>
											</div>
										</div>
										
										
									</div>

									<div class="q-asw">
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Jag önskar att allt som tillfaller någon genom detta testamente eller arv skall vara vederbörandes enskilda egendom 
												</p>
												<p>
													Att egendom betraktas som enskild innebär i juridisk mening att make/maka till testamentstagaren inte har rätt till värdemässig hälftendelning av den enskilda egendomen vid en eventuell bodelning, till följd av separation (utifall den du testamenterar till är gift). Med andra ord innebär detta alternativet att personen du testamenterar din egendom till och som är gift kommer att få behålla egendom ifall personen i framtiden skiljer sig. Annars gäller att all makarnas respektive egendom är så kallat giftorättsgods och skall värdemässigt delas på hälften vid en skilsmässa. 
												</p>
											</div>
										</div>
										<div class="question">
											<div class="checkboxThree">
												<input type="checkbox" value="1" id="person_aws_specific_1_1" name="person[specific][1][person_aws_specific_1]" checked="checked" ng-model="person_aws_specific_1_1" class="ng-pristine ng-valid" ng-change="jumpQASpecific(1)">
												<label for="person_aws_specific_1_1"></label>
											</div>
										</div>
									</div>

									<div class="q-asw" style="display: none;">
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Jag önskar att även det som tillkommer i egendomens ställe skall vara enskild egendom
												</p>
												<p>
													T.ex. Peter har ärvt en tavla som enskild egendom från sina morföräldrar med följdkravet att vad som träder i tavlans ställe även fortsatt skall vara Peters enskilda egendom. Om Peter säljer tavlan för att köpa en bil kommer därför även bilen att betraktas som Peters enskilda egendom. 
												</p>
											</div>
										</div>
										<div class="question">
											<div class="checkboxThree">
												<input type="checkbox" value="1" id="person_aws_specific_1_2" name="person[specific][1][person_aws_specific_2]" checked="checked" ng-model="person_aws_specific_1_2" class="ng-pristine ng-valid">
												<label for="person_aws_specific_1_2"></label>
											</div>
										</div>
									</div>

									<div class="q-asw" style="display: none;">
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Jag önskar att avkastning av egendomen skall vara enskild egendom. 
												</p>
												<p>
													T.ex. Avkastning på aktier.
												</p>
											</div>
										</div>
										<div class="question">
											<div class="checkboxThree">
												<input type="checkbox" value="1" id="person_aws_specific_1_3" name="person[specific][1][person_aws_specific_3]" checked="checked" ng-model="person_aws_3_1_specific" class="ng-pristine ng-valid">
												<label for="person_aws_3_1_specific"></label>
											</div>
										</div>
										
									</div>
								</div><!-- person -->
								<div class="fond">
									<div class="fond_info1">
										<div class="fond_info">
											<input type="text" name="fond[specific][1][fond_name]" id="fond_name_specific_1" placeholder="namn"  class="register user" ng-model="fond_name_1_specific" disabled="disabled" > 
											<p class="error_msg" id="error_fond_name_1_specific" ></p>
										</div>
										
										<div class="fond_info">	
											<input type="text" name="fond[specific][1][fond_account]" id="fond_account_specific_1" placeholder="konto"  class="register address" ng-model="fond_account_1_specific" disabled="disabled"> 
											<p class="error_msg" id="fond_account_1_specific"></p>
										</div>

									</div><!-- fond_info1 -->

									<div class="q-asw">
										<div class="question">
											<div class="purpose">
												<label>Ändamål:</label>
												<textarea value="1" id="purpose_specific_1" name="fond[specific][1][purpose]" checked="checked" ng-model="purpose_specific_1" class="ng-pristine ng-valid" placeholder="Skriv här om medlen skall användas till något särskilt ändamål inom fonden/stiftelsen." > </textarea>
												<label for="purpose_specific_1"></label>
											</div>
										</div>
									</div>

									<div class="q-asw">
										<div class="asw">
											<div class="condition_box">
												<div class="condition_box02">
													<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
												</div>
												<p>
													Försök att fylla i så uppdaterad och tillförlitlig information som möjligt för att undvika framtida missförstånd eller funderingar. Glöm inte att vid egendomsbeskrivningen tillsätta det antal egendomen avser. 
												</p>
												<p>
													T.ex. Min gröna soffa. Pengarna på mitt Nordea konto, kontonummer: XXXXX. Ericsson aktier, aktieslag B, antal 1000.
												</p>
											</div>
										</div>

										<div class="question">
											<div class="purpose">
												<label>Ejendoms Beskrivning :</label>
												<textarea value="1" id="description_property_specific_1" name="fond[specific][1][description_property]" checked="checked" ng-model="description_property_specific_1" class="ng-pristine ng-valid" placeholder="" > </textarea>
												<label for="description_property_specific_1"></label>
											</div>
										</div>
									</div>

								</div>	
								
							</div>
						</div>

					</div><!-- form001 -->	
					
					<div class="action-new-people">
						<p>Do you want to add new person/fond? </p>
						<button removepeoplespecific class="btn-remove" style="display:none;">Remove</button>
						<button class="btn-adds" addpeoplespecific>Add</button>
					</div>
				</div><!-- wrapper -->
			</div><!-- form01 -->
			<div class="bottom">
				<div class="bottom1">
					<a class="btn_register2 prev" id="prev_4" >Tillbaka</a>
					<a class="btn_register1 next" id="next_4" >Nästa</a>
				</div>
			</div><!-- bottom -->	
		</div>
		<!-- SLICE 6  -->
		<div class="container01" id="slice_5" style="display: none;" >
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Betalning</h1>
						<div class="filter006">
							<div class="fliter2_step001"><a class="navCircle" id="sl2Navigate_1" style="cursor:pointer;"><h2>1</h2><div class="popup_top" ><p>Personuppgifter</p></div></a></div>
							<div class="fliter3_step002"><a class="parallelNav" id="sl_2_Navigate_2" ><h2>2</h2><div class="popup_top"><p>Samboregler</p></div></a></div>
							<div class="fliter4_step003"><a class="parallelNav" id="sl_2_Navigate_3" ><h2>3</h2><div class="popup_top"><p>Översikt</p></div></a></div>
							<div class="fliter5_step004"><a class="parallelNav" id="sl_2_Navigate_4" ><h2>4</h2><div class="popup_top" ><p>Meddelande</p></div></a></div>
							<div class="fliter_step005"><a class="parallelNav" id="sl_2_Navigate_5" ><h2>5</h2><div class="popup_top" style="display: block;"><p>Översikt</p></div></a></div>
							<div class="fliter_step006"><a class="parallelNav" id="sl_2_Navigate_6" ><h2>End</h2></a></div>
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">
						<p>Gåva and Begravning och Gravvård</p>
						<div class="gift-container">
							<div class="q-asw">
								<div class="asw">
									<div class="title">Skall eventuella gåvor under din livstid till bröstarvinge avräknas som förskott på arv(i)? </div>
									<div class="condition_box">
										<div class="condition_box02">
											<a id="infoTrigger" style="cursor:pointer;"><img src="images/info.png"><span>Läs mer</span></a>
										</div>
										<p>
											Bröstarvinge är arvlåtarens barn och barnbarn och så vidare i rakt nedstigande led (avkomlingar). 
										</p>
										<p>
											Gåvor till bröstarvingar presumeras alltid vara förskott på arv. Skall gåvor som du under din livstid ger till något av dina bröstarvingar räknas bort från barnens arv efter ditt frånfälle?
										</p>
									</div>
								</div>
								<div class="question">
									<div class="checkboxThree">
										<input type="checkbox" value="1" id="gift_aws_1" name="gift_aws_1" checked="checked" ng-model="gift_aws_1" class="ng-pristine ng-valid">
										<label for="gift_aws_1"></label>
									</div>
								</div>
							</div>

							<div class="q-asw" style="display: none;">
								<div class="asw">
									<div class="title">Gåvor upp till […] SEK skall inte räknas som förskott på arv. </div>
								</div>
								<div class="question">
									<div class="">
										<input type="text" id="gift_limit_number" name="gift_limit_number"  ng-model="gift_limit_number" class="ng-pristine ng-valid">
										<label for="gift_limit_number"></label>
									</div>
								</div>
							</div>
						</div>
					</div><!-- form001 -->
				</div><!-- wrapper -->
			</div><!-- form01 -->
			
			<div class="bottom">
				<div class="bottom1">
					<a class="btn_register2 prev" id="prev_5" >Tilllbaka</a>
					<a class="btn_register1 next" id="next_5" >Nästa</a>		
				</div>
			</div><!-- bottom -->		
			
		</div>

		<div class="container01" id="slice_6" style="display:none;">
			<div class="header1">
				<div class="wrapper">
					<div class="header01">
						<h1>Betalning</h1>
						<div class="filter007">
							<div class="fliter2_step001"><a class="navCircle" id="sl2Navigate_1" style="cursor:pointer;"><h2>1</h2><div class="popup_top" ><p>Personuppgifter</p></div></a></div>
							<div class="fliter3_step002"><a class="parallelNav" id="sl_2_Navigate_2" ><h2>2</h2><div class="popup_top"><p>Samboregler</p></div></a></div>
							<div class="fliter4_step003"><a class="parallelNav" id="sl_2_Navigate_3" ><h2>3</h2></a></div>
							<div class="fliter5_step004"><a class="parallelNav" id="sl_2_Navigate_4" ><h2>4</h2><div class="popup_top" ><p>Meddelande</p></div></a></div>
							<div class="fliter6_step005"><a class="parallelNav" id="sl_2_Navigate_5" ><h2>5</h2></a></div>
							<div class="fliter_step006"><a class="parallelNav" id="sl_2_Navigate_6" ><h2>End</h2><div class="popup_top" style="display:block;"><p>End</p></div></a></div>	
						</div><!-- filter001 -->
					</div><!-- header01 -->
				</div><!-- wrapper -->
			</div><!-- header1 -->
			
			
			<div class="form01">
				<div class="wrapper">
					<div class="form001">
						<div class="terms_conditions">
							<h3 style="text-align:center;">Din beställning är nu klar. Tryck på knappen nedan för att välja betalsätt samt genomföra denna.</h3>
							
						</div><!-- terms_conditions -->
					</div><!-- form001 -->
				</div><!-- wrapper -->
			</div><!-- form01 -->
			
			<div class="bottom">
				<input type="submit" name="btn_submit" value="Betala" class="btn_register"  />				
			</div><!-- bottom -->		
			
		</div>
	</form>
</body>

</html>